.angucomplete-holder {
  position: relative;
}

.angucomplete-holder > input {
  z-index: 1;
}

.angucomplete-dropdown {
  border-color: #ececec;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  margin-top: -1px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)
}

.angucomplete-no-results {
  color: #ccc;
  font-size: 12px;
  padding: 4px 6px;
}

.angucomplete-description {
  font-size: 14px;
}

.angucomplete-row {
  padding: 4px 6px;
  color: #000;
  clear: both;
}

.angucomplete-selected-row {
  background: #1385e5;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4)
}

.angucomplete-image-holder {
  padding-top: 2px;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
}

.angucomplete-image {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border-color: #ececec;
  border-style: solid;
  border-width: 1px;
}

.angucomplete-image-default {
  /* Add your own default image here
   background-image: url('/assets/default.png');
  */
  background-position: center;
  background-size: contain;
  height: 34px;
  width: 34px;
}

.angucomplete-add-new {
  padding: 3px 0 2px;
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: 3px;
  width: 30px;
  z-index: 10 !important;
  font-size: 16px;
  display: block;
  text-align: center;
  cursor: pointer;
}
.angucomplete-clear {
  background: rgba(0,0,0,.1);
  padding: 3px 0 2px;
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: 3px;
  width: 30px;
  z-index: 10 !important;
  font-size: 16px;
  display: block;
  text-align: center;
  cursor: pointer;
}
.angucomplete-loading {
  padding: 3px 0 2px;
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: 3px;
  width: 30px;
  z-index: 10 !important;
  display: block;
  text-align: center;
  background: url('./fb-loading.gif') right top no-repeat;
}
.angucomplete-clear:hover {
  background: rgba(0,0,0,.2);
}